* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* TODO: --- Encabezado --- */
header {
  height: 10vh;
  width: 100%;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.05); }

#principalFondo {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 100px;
  background-color: rgba(0, 0, 0, 0.397); }

#principalTitulo {
  color: gray;
  text-shadow: 10px 10px 30px gray;
  margin: 25px auto 20px 40px; }

.navbar {
  width: 100%;
  background-color: white;
  color: gray;
  transition: all 2s; }
  .navbar ul li {
    display: inline-block;
    list-style: none;
    padding: 5px 20px;
    transition: all 2s; }
    .navbar ul li a {
      display: block;
      padding: 5px;
      color: gray;
      text-decoration: none;
      background-image: linear-gradient(black, black);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      transition: background-size 0.3s; }

.navbar ul li a:hover,
.navbar ul li a:focus {
  background-size: 100% 2px; }

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.barra {
  width: 100%;
  background-color: white;
  color: gray;
  transition: all 2s; }
  .barra ul li {
    display: inline-block;
    list-style: none;
    padding: 5px 20px;
    transition: all 2s; }
    .barra ul li a {
      display: block;
      padding: 5px;
      color: gray;
      text-decoration: none;
      background-image: linear-gradient(black, black);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      transition: background-size 0.3s; }

.barra ul li a:hover,
.barra ul li a:focus {
  background-size: 100% 2px;
  color: gray; }

main {
  height: 80vh; }
  main h1 {
    color: #301047;
    font-size: 50px;
    font-weight: 900;
    line-height: 60px; }
  main p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    margin-bottom: 1rem; }

.main {
  background-image: url(../assets/img/intro-background.webp); }

.btn.btn-cta {
  border-radius: 100px;
  padding: 10px 50px;
  box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.2);
  background: #a1297e;
  color: #fff;
  font-size: 16px; }

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.guardar, .cancelar {
  width: 100%;
  font-size: 18px;
  padding: 12px 20px;
  margin: 10px auto;
  border-radius: 10px;
  transition: all 1s; }

.formulario {
  margin: 50px auto;
  padding: 15px;
  background-color: white;
  border: 1px solid white;
  color: gray; }

.guardar {
  background-color: white;
  color: gray;
  border: 1px solid white; }
  .guardar:hover {
    background-color: #9e1d1d;
    color: gray;
    border: 1px solid #9e1d1d;
    font-size: 19px; }

.cancelar:hover {
  font-size: 19px; }

.card:not(.card-default) {
  border-radius: 14px;
  margin-bottom: 30px;
  box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.2);
  width: 100%; }

.card:not(.card-default) .card-body {
  padding: 15px 20px; }

.card:not(.card-default) .card-body > .card-title h6 {
  color: #8e8e93;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: .43px;
  text-transform: uppercase; }

.card:not(.card-default) .card-img-top {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px; }

.card:not(.card-default).card-option {
  cursor: pointer; }

.card:not(.card-default).card-flex {
  width: 100%; }

.card:not(.card-default).card-flex > div.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1; }

.card:not(.card-default).card-property, .card:not(.card-default) .card-link {
  color: #505050;
  font-size: 14px;
  font-weight: 500;
  overflow: hidden; }

.card:not(.card-default).card-property .property-type, .card:not(.card-default) .card-link .property-type {
  text-align: center;
  background: #57068c;
  color: #fff;
  padding: 2px 3px 3px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase; }

.card:not(.card-default).card-property .property-type.property-type-entire, .card:not(.card-default) .card-link .property-type.property-type-entire {
  background: #a1297e; }

.card:not(.card-default).card-property .property-image-container, .card:not(.card-default) .card-link .property-image-container {
  height: 200px;
  position: relative;
  display: block;
  width: 100%; }

.card:not(.card-default).card-property .property-image-container .property-image, .card:not(.card-default).card-property .property-image-container .property-image-overlay, .card:not(.card-default).card-property .property-image-container .property-image-overlay-content, .card:not(.card-default) .card-link .property-image-container .property-image, .card:not(.card-default) .card-link .property-image-container .property-image-overlay, .card:not(.card-default) .card-link .property-image-container .property-image-overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.card:not(.card-default).card-property .property-image-container .property-image, .card:not(.card-default) .card-link .property-image-container .property-image {
  filter: grayscale(1);
  z-index: 1;
  background-size: cover;
  background-position: center; }

.card:not(.card-default).card-property .property-image-container .property-image-overlay, .card:not(.card-default) .card-link .property-image-container .property-image-overlay {
  background: #5b337e;
  opacity: .75;
  mix-blend-mode: multiply;
  z-index: 2;
  display: flex;
  align-self: center; }

.card:not(.card-default).card-property .property-image-container .property-image-overlay-content, .card:not(.card-default) .card-link .property-image-container .property-image-overlay-content {
  top: 50%;
  text-align: center;
  height: auto;
  z-index: 3;
  color: #fff;
  text-transform: uppercase;
  transform: translateY(-50%);
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 1px; }

.card:not(.card-default).card-property .card-body, .card:not(.card-default) .card-link .card-body {
  padding: 30px 20px; }

.card:not(.card-default).card-property .card-body .property-location, .card:not(.card-default) .card-link .card-body .property-location {
  text-transform: uppercase;
  font-size: 12px; }

.card:not(.card-default).card-property .card-body .property-name, .card:not(.card-default) .card-link .card-body .property-name {
  color: #57068c;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 10px; }

.card:not(.card-default).card-property .card-body .property-value, .card:not(.card-default) .card-link .card-body .property-value {
  color: #57068c;
  font-weight: 600; }

.card:not(.card-default).card-property .card-body .property-roi, .card:not(.card-default) .card-link .card-body .property-roi {
  color: #57068c;
  font-weight: 600;
  font-size: 40px; }

.card:not(.card-default).card-property.card-property-live .property-image-container .property-image, .card:not(.card-default) .card-link.card-property-live .property-image-container .property-image {
  filter: none; }

.card:not(.card-default).card-property.card-property-live .property-image-container .property-image-overlay, .card:not(.card-default) .card-link.card-property-live .property-image-container .property-image-overlay {
  display: none; }

.progress.progress-property {
  height: 10px;
  margin: 40px 0 3px;
  overflow: visible;
  border-radius: .5rem;
  background: #e3d9ea; }

.progress.progress-property .progress-bar {
  background: #008f9f;
  position: relative;
  border-radius: .5rem; }

.progress.progress-property .progress-bar:after {
  color: #57068c;
  font-weight: 600;
  position: absolute;
  bottom: 100%;
  margin-bottom: 2px;
  right: 0;
  left: 0;
  content: attr(aria-valuenow) "%";
  font-size: 14px;
  text-align: right; }

.progress.progress-property.progress-property-live .progress-bar {
  background: #008f9f; }

.progress.progress-property.progress-property-live .progress-bar::after {
  color: #008f9f; }

.progress.progress-property.progress-property-live .progress-bar[aria-valuenow="0"]:after {
  color: #e3d9ea; }

.progress.progress-property.progress-property-funded .progress-bar {
  background: #a1297e; }

.progress.progress-property.progress-property-funded .progress-bar::after {
  color: #a1297e; }

footer {
  width: 100%;
  /* height: 150px; */
  background-color: white;
  color: gray;
  text-align: center; }

.iconos {
  font-size: 2em; }
  .iconos a {
    color: gray;
    padding: 0 5px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    background-image: linear-gradient(#fff, #fff);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s; }
    .iconos a:hover {
      background-size: 100% 2px; }

body {
  height: 100vh; }
