* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "variables";
@import "header";
@import "navbar";
@import "main";
@import "formulario";
@import "footer";

body {
  height: 100vh;
}

footer {
  height: 10vh;
}

main {
  height: 75vh;
  background-image: url(../assets/img/intro-background.webp);

  h1 {
    color: #301047;
    font-size: 50px;
    font-weight: 900;
    line-height: 60px;
  }

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

footer {
  height: 10vh;
}
