$color-red: yellow;
$bg-primary: violet;
$font-small: 10px;
$font-xlarge: 4rem;
$color-secondary: black;
$font-primary: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$justify-c: center;

